BasedOnStyle: Google

ColumnLimit: 58
IndentWidth: 2
PPIndentWidth: 2
IndentCaseLabels: false
IndentPPDirectives: AfterHash
UseTab: Never
TabWidth: 2

AlignArrayOfStructures: Left
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLoopsOnASingleLine: true
InsertNewlineAtEOF: true
RemoveSemicolon: true
